* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.btn-primary {
  color: #ffff;
  background: #fd6e0a;
  border: 0;
  padding: 18px 35px 19px 36px;
  height: 64px;
  border-radius: 5px;
  width: 150px;
  font-weight: 700;
  font-size: 20px;
}
/* banner styles */
.banner {
  align-items: center;
  display: flex;
  margin: 50px 200px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-subtitile {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-description {
  color: #757575;
  margin-bottom: 30px;
}
/* end header section */
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* start about section */

.about {
  margin-top: 130px;
  padding: 131px 156px;
  background: #fff8f3;
  border-radius: 10px;
  text-align: center;
}
.section-title {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
}
.section-description {

  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.info-title {
  color: #757575;
  font-size: 20px;
}
.info-description{
   color: #757575;
  font-weight: 700;
  font-size: 20px;
}
/*  */